<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ansible WebUI</title>
        <link href="/static/css/global.css" rel="stylesheet" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link href="/static/dist/tailwind.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous" referrerpolicy="no-referrer">
    </head>
    <body>
        <noscript>
            <div class="noscript-error">
                You need to enable Javascript to use this app!
            </div>
        </noscript>
        <div id="nav" class="dark:bg-gray-600"></div>
        <div id="main" class="dark:bg-gray-600 w-full h-full">
            {% block content %}
            {% endblock %}
        </div>
        <div id="footer-bg" class="dark:bg-gray-600"></div>
        <div id="footer" class="dark:bg-gray-600"></div>
        <script type="module" src="/static/dist/index.js"></script>
    </body>
</html>